@model FakeECourses.Models.Teacher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicRank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicRank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courses1)
        </dt>
        <dd class="col-sm-10">
            @foreach (var course in Model.Courses1)
            {
                <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">@course.Title</a><br />
            }

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courses2)
        </dt>
        <dd class="col-sm-10">
            @foreach (var course in Model.Courses2)
            {
                <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">@course.Title</a><br />
            }

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
